---
import LayoutPages from "@/layouts/LayoutPages.astro";

import metadata from "../const/meta.json";
const { mail, address, tel, name } = metadata;
---

<LayoutPages
	title="Aviso Legas"
	description="Servicios de rehabilitación y reformas integrales para edificios, locales y viviendas."
>
	<h1
		class="text-primary-500 text-right border-primary-500 border-b font-bold text-3xl"
	>
		Aviso Legal
	</h1>
	<h2 class="text-2xl font-semibold my-10 text-center">
		Para cualquier consulta legal, contáctenos por <a
			href=`mailto:${mail}?Subject='Interesado%20en%20contratar'`
			>{mail}</a
		>
	</h2>
	<div class="mb-7">
		<p>
			El presente Aviso Legal regula el uso del servicio del portal de
			Internet con dirección www.arquitectesassessors.com, cuyo
			responsable a efectos identificativos es:
		</p>
		<ul class="list-disc px-4">
			<li>Responsable: {name}</li>
			<li>Dirección:{address}</li>
			<li>Teléfono: {tel}</li>
			<li>MAIL: {mail}</li>
		</ul>
	</div>
	<div class="mb-7">
		<h3>LEGISLACIÓN</h3>
		<p>
			Con carácter general las relaciones entre {name} con los Usuarios de
			sus servicios telemáticos, presentes en la web, se encuentran sometidas
			a la legislación y jurisdicción españolas.
		</p>
		<p>
			Las partes renuncian expresamente al fuero que les pudiera
			corresponder y someten expresamente a los Juzgados y Tribunales de
			BARCELONA para resolver cualquier controversia que pudiera surgir en
			la interpretación o ejecución de las presentes condiciones
			contractuales.
		</p>
	</div>
	<div class="mb-7">
		<h3>CONTENIDO Y USO</h3>
		<p>
			El Usuario queda informado, y acepta, que el acceso a la presente
			web no supone, en modo alguno, el inicio de una relación comercial
			con {name} .
		</p>
		<p>
			El titular del web no se identifica con las opiniones vertidas en el
			mismo por sus colaboradores. La Empresa se reserva el derecho de
			efectuar sin previo aviso las modificaciones que considere oportunas
			en su Web, pudiendo cambiar, suprimir o añadir tanto los contenidos
			y servicios que se presten a través de la misma como la forma en la
			que éstos aparezcan presentados o localizados en sus servidores.
		</p>
	</div>
	<div class="mb-7">
		<h3>PROPIEDAD INTELECTUAL E INDUSTRIAL</h3>
		<p>
			Los derechos de propiedad intelectual del contenido de las páginas
			web, su diseño gráfico y códigos son titularidad de Assessors
			tecnics y, por tanto, queda prohibida su reproducción, distribución,
			comunicación pública, transformación o cualquier otra actividad que
			se pueda realizar con los contenidos de sus páginas web ni aun
			citando las fuentes, salvo consentimiento por escrito de Assessors
			tecnics Todos los nombres comerciales, marcas o signos distintos de
			cualquier clase contenidos en las páginas web de la Empresa son
			propiedad de sus dueños y están protegidos por ley.
		</p>
	</div>
	<div class="mb-7">
		<h3>ENLACES (LINKS)</h3>
		<p>
			La presencia de enlaces (links) en las páginas web de Assessors
			tecnics tiene finalidad meramente informativa y en ningún caso
			supone sugerencia, invitación o recomendación sobre los mismos.
		</p>
	</div>
</LayoutPages>

<style>
	p {
		font-size: 16px;
		text-wrap: pretty;
		margin: 16px 0;
	}
	h1,
	h3 {
		text-transform: uppercase;
		font-size: var(--text-2xl) /* 1.5rem = 24px */;
		line-height: var(
			--tw-leading,
			var(--text-2xl--line-height) /* calc(2 / 1.5) ≈ 1.3333 */
		);
	}
</style>
