---
import LayoutPages from "@/layouts/LayoutPages.astro";
import Form from "@/components/ui/Form.svelte";
import { Icon } from "astro-icon/components";
import metadata from "../const/meta.json";
const { mail, address, tel, name } = metadata;
export const prerender = false;

---

<LayoutPages
	title=`Contacta con ${name}`
	description="Pagina de contacto con nosotros"
>
	<h1
		class="text-primary-500 text-right border-primary-500 border-b font-bold text-3xl"
	>
		Descubre como trabajamos
	</h1>
	<h2 class="text-1xl md:text-2xl font-semibold my-10 text-center">
		¿Quieres saber más sobre nuestros servicios o necesitas ayuda para tu
		proyecto? ¡Contáctanos! Estaremos encantados de atenderte y resolver tus
		dudas.
	</h2>
	<div class="flex flex-col my-7">
		<div class="flex flex-row">
			<Icon
				name="mdi:google-maps"
				class="text-primary-600 mr-3 text-xl"
			/>
			<span>{address}</span>
		</div>
		<div class="flex flex-row">
			<Icon
				name="material-symbols-light:mail-outline"
				class="text-primary-600 mr-3 text-xl"
			/>
			<a href=`mailto:${mail}?Subject='Interesado%20en%20contratar`
				>{mail}</a
			>
		</div>
		<div class="flex flex-row">
			<Icon
				name="mdi-light:phone"
				class="text-primary-600 mr-3 text-xl"
			/>
			<a href=`tel:${tel}`>{tel}</a>
		</div>
	</div>
	<Form  client:load />
</LayoutPages>
