---
import LayoutPages from "@/layouts/LayoutPages.astro";

import metadata from "../const/meta.json";
const { mail, address, tel, name } = metadata;
---

<LayoutPages title="Nosotros" description=`Conoce más sobre ${name} `>
	<h1
		class="text-primary-500 text-right border-primary-500 border-b font-bold text-3xl"
	>
		{name} , expertos en rehabilitacion y reformas
	</h1>
	<h2 class="text-3xl font-semibold my-10 text-center">
		Creemos en lo que hacemos
	</h2>
	<p class="my-4 text-pretty">
		<strong>{name} </strong>es una empresa especializada en<strong>
			rehabilitación de edificios y reformas.</strong
		> Desde entonces, nuestra empresa ha evolucionado y se ha consolidado como
		un referente en el sector de la construcción, gracias a nuestro compromiso
		con la excelencia y la calidad en cada uno de los proyectos que emprendemos.
	</p>
	<p class="my-4 text-pretty">
		En {name} contamos con un equipo de
		<strong>profesionales altamente cualificados y experimentados</strong>,
		que nos permite abordar cualquier tipo de proyecto, desde pequeñas
		reformas hasta la ejecución de grandes obras. Nuestro objetivo es
		ofrecer a nuestros clientes <strong
			>soluciones integrales y personalizadas</strong
		>, que se adapten a sus necesidades y presupuestos, y que cumplan con
		los más altos estándares de calidad y seguridad.
	</p>
	<p class="my-4 text-pretty">
		Nos especializamos en transformar espacios en entornos funcionales,
		estéticos y modernos,
		<strong
			>adaptándonos a las necesidades específicas de cada cliente.</strong
		>
		También somos <strong
			>expertos en reformas de viviendas, locales comerciales y oficinas,
		</strong>y en la realización de obras de nueva construcción.
	</p>
	<p class="my-4 text-pretty">
		Además, <strong>nuestros servicios de yeso</strong> se enfocan en proporcionar
		acabados perfectos y<strong> soluciones efectivas</strong>
		para problemas como grietas, imperfecciones y paredes envejecidas. Usamos
		técnicas avanzadas y <strong>materiales de calidad </strong>para
		garantizar resultados duraderos y <strong
			>estéticamente impecables.</strong
		>, y por ello utilizamos materiales y técnicas de construcción
		respetuosas con el entorno. Asimismo, ofrecemos <strong
			>servicios de asesoramiento y gestión de subvenciones</strong
		>
		y ayudas para la rehabilitación y mejora de edificios.
	</p>
	<p class="my-4 text-pretty">
		Tambiém contamos con <strong
			>profesionales en nuestros servicios de pladur,</strong
		> que es una solución <strong>versátil y moderna </strong> que nos permite
		transformar espacios con <strong>rapidez y eficiencia. </strong>En
		{name} somos especialistas en la instalación de sistemas de pladur tanto
		en viviendas como en proyectos comerciales. Nos adaptamos a cada proyecto
		para ofrecer <strong>resultados funcionales</strong>, estéticos y con
		propiedades adicionales como <strong
			>aislamiento térmico y acústico.
		</strong>
		<p class="my-4 text-pretty">
			En definitiva, en {name} trabajamos con
			<strong>pasión y dedicación</strong>
			para satisfacer las necesidades de nuestros clientes, y convertir sus
			proyectos en realidades. Si buscas una empresa de confianza para llevar
			a cabo tu proyecto de rehabilitación o reforma, no dudes en ponerte en
			<strong>contacto con nosotros. </strong>Estaremos encantados de
			ayudarte.
		</p>
	</p>
</LayoutPages>
